<html>
    <head>

     <title> 
         <%=title%>
     </title>

    </head>

    <body>
        
        <h1>this is a practice page </h1>


        <ul>
            <% for (let i =1 ; i <6;i++) { %>
       
            <li>
                <%= i %>
            </li>

            <br>

                <%}%>

        </ul>

    </body>
</html>